<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Last:</strong>
  <%= @place.last %>
</p>

<p>
  <strong>Count:</strong>
  <%= @place.count %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @place.limit %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
